#main-container{
  background: black;
  width: 720px;
  height: 480px;
  position: center;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;

}

#sky{
  background: skyblue;
  width: 100%;
  height: 30%;
}

#ground{
  background: beige;
  width: 100%;
  height: 90%;
}

#road{
  background: gray;
  border-style: solid;
  border-width: 0 250px 500px 250px;
  border-color: purple beige gray beige;
}

#road-canvas{
  width: 100%;
  height: 100%;
}

#timer {

}

.road-rectangle {
  height: 10px;
  width: 5px;
  background: yellow;
  position: relative;
  text-align: center;
  position: center;
  margin: 0 auto;
  overflow: hidden;
}

#char-sprite {
  width: 30px;
  height: 30px;
  top: 400px;
  left: 345px;
  position: absolute;
}

#safe-or-no {
  width: 50px;
  height: 50px;
  top: 20px;
  left: 20px;
  position: absolute;
  background: red;
}
